---
import Icon from './Icon.astro'
---

<section class="skills">
  <div class="skill">
    <Icon icon="js-logo" size="4rem" />
		<h3>JavaScript</h3>
  </div>
  <div class="skill">
    <Icon icon="typescript-logo" size="4rem" />
		<h3>Typescript</h3>
  </div>
  <div class="skill">
    <Icon icon="html-logo" size="4rem" />
		<h3>HTML</h3>
  </div>
  <div class="skill">
    <Icon icon="css-logo" size="4rem" />
		<h3>CSS</h3>
  </div>
  <div class="skill">
    <Icon icon="react-logo" size="4rem" />
		<h3>React</h3>
  </div>
  <div class="skill">
    <Icon icon="react-logo" size="4rem" />
		<h3>React Native</h3>
  </div>
  <div class="skill">
    <Icon icon="tailwind-logo" size="4rem" />
		<h3>Tailwind</h3>
  </div>
  <div class="skill">
    <Icon icon="sass-logo" size="4rem" />
		<h3>Sass</h3>
  </div>
  <div class="skill">
    <Icon icon="node-logo" size="4rem" />
		<h3>Node</h3>
  </div>
  <div class="skill">
    <Icon icon="mongodb-logo" size="4rem" />
		<h3>MongoDB</h3>
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-direction: row;
		justify-content: center;
		align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skill {
		display: flex;
		flex-direction: column;
		align-items: center;
    color: var(--gray-0);
	}

  .skills h3 {
    font-size: var(--text-sml);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
